{
  "today": {
    "yyyy": "",
    "mm": "",
    "dd": ""
  },
  "name": {
    "name": "",
    "kana": ""
  },
  "birthday": {
    "yyyy": "",
    "mm": "",
    "dd": "",
    "full_age": ""
  },
  "sex": "",
  "address": {
    "name": "",
    "kana": "",
    "postal_code": "",
    "phone_number": ""
  },
  "contact": {
    "name": "",
    "kana": "",
    "postal_code": "",
    "phone_number": ""
  },
  "education": [
    {
      "yyyy": "",
      "mm": ""
    }
  ],
  "career": [
    {
      "yyyy": "",
      "mm": ""
    }
  ],
  "license": [
    {
      "yyyy": "",
      "mm": ""
    }
  ],
  "certification": [
    {
      "yyyy": "",
      "mm": ""
    }
  ],
  "various": "",
  "commute": {
    "yyyy": "",
    "mm": ""
  },
  "dependents": "",
  "spouse": true,
  "duty_to_support": true,
  "entry_column": ""
}